* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug > .container{
  height: 200px;
}

.container > .col-1{
  background-color: pink;
  border: 2px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;


}

 .container .col-12{
  background-color: pink;
  border: 2px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;



}

.container .col-8, .col-2{
  background-color: pink;
  border: 2px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;

}


.container .col-6, .col-2{
  background-color: pink;
  border: 2px solid black;
  text-align: center;
  line-height: 200px;
  height: 200px;

}

.nested > .col-2, .nested > .col-8, .nested > .col-6
{
  border: 2px solid white;
  background-color: #ed269a;

}
